:root {
  --body-color: #292929;
  --ring-color: #1c1c1c;
  --void-color: #0a0a0a;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--void-color);
}

svg {
  height: 100vh;
  width: 100vw;

  fill: var(--body-color);
  stroke: var(--body-color);
}

.rings {
  fill: none;
  stroke: var(--ring-color);
}
