:root {
  --surface-color: #1f1f1f;
  --ring-color: #141414;
  --void-color: #080808;
}

@media print {
  :root {
    --void-color: white;
  }
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 3vh 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--void-color);
  height: 100%;

  aspect-ratio: 1 / 1.5;
  gap: 1.01%;
}

svg {
  position: relative;
  aspect-ratio: 1;

  fill: var(--surface-color);
  stroke: var(--surface-color);
}

.rings {
  fill: none;
  stroke: var(--ring-color);
}

#earth {
  fill: hsl(210, 33%, 12%); /* my blue: hsl(210, 43%, 12%) */
  /*fill: hsl(207, 61%, 12%); !* steel blue: hsl(207, 61%, 71%) *!*/
  /*fill: hsl(229, 19%, 12%); !* cool gray: hsl(229, 19%, 67%) *!*/
}

#tnos {
  font: bold 1400px "Verdana";
  margin-top: 1%;
}

/* region objects */
#mercury { width: 2.75% }
#venus   { width: 11.07%}
#earth   { width: 12.46%}
#mars    { width: 5.54% }
#jupiter { width: 33.65%}
#saturn  { width: 34.85%}
#uranus  { width: 15.83%}
#neptune { width: 14.75%}
#tnos    { width: 2% }
/* endregion objects */
