body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
}

svg {
  height: 100vh;
  width: 100vw;

  fill: #222;
  stroke: #222;
}

.rings {
  fill: none;
  stroke: #1c1c1c;
}
